#heading {
    color: blue;
}

#profile{
   width: 200px;
   height: 200px; 
   border-radius: 50%;
}
#paragraph{
    background-color: aquamarine;
    color: blueviolet;
}

.name {
    color: brown;
}