html,
body {
    height: 100%;
    margin: 0;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #666;
    background-image: url("./img-1.avif");
    background-size: cover;
    background-repeat: no-repeat;
}

.pimg1 {

    min-height: 100%;

}
