* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container {
    background-color: rgb(253, 241, 241);
}
.box {
    width: 100px;
    height: 100px;
    border: 2px solid;

}
#box1 {
    background-color: lightcyan;
    position: static;
}
 
#box2 {
    background-color: lightseagreen;
    position: relative;
    left: 50px;
    top: 0px;
}
#box3 {
    background-color: lightpink;
    position: absolute;
    left: 60px;
    top: 0px;
    right: 0px;
    z-index: 1;
}
#box4 {
    width: 90vw;
    background-color: lightslategray;
    position: fixed ;
    top: 0;
    right: 0px;
    z-index: 2;
}
 