* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #93aeb4;
  }
  .main_section {
    background-color: #9e7979;
    max-width: 1000px;
    margin: 50px auto;
    position: relative;
  }
  .box {
    border: 1px solid;
    width: 100px;
    height: 100px;
    text-align: center;
  }
  #box1 {
    position: static;
    background-color: aliceblue;
  }
  #box2 {
    position: relative;
    top: 10px;
    left: 110px;
    background-color: rgb(167, 167, 47);
  }
  #box3 {
    position: absolute;
    top: 10px;
    left: 220px;
    background-color: aquamarine;
  }
  #box4 {
    position: fixed;
    top: 10px;
    left: 20px;
    background-color: lightgreen;
  }
  #box5 {
    position: sticky;
    top: 0;
    background-color:lightsalmon;
  }
  .paragraph {
    padding: 20px;
    text-align: justify;
  }